
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Anasayfa</a></li>
            <li class="active">Şifre Yenileme </li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <h2>Şifre Yenileme Maili Gönderme Ekranı</h2>

        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">             
                <input name="Email" type="email" placeholder="Email" required=" "> 
                <input type="submit" value="Gönder">
            </form>
        </div>
        <h4>Yeni Kullanıcılar İçin</h4>
        <p><a href="@Url.Action("Register", "Account")">Kaydol</a> Veya <a href="@Url.Action("Index", "Home")">Anasayfaya Dön<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    </div>
</div>

