@using System.Threading.Tasks
@model ShoppingMarket.WebUI.Models.LoginViewModel
@{
    ViewData["Title"] = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Anasayfa</a></li>
            <li class="active">Giriş </li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <h2>GİRİŞ</h2>

        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            <form asp-controller="Account" asp-action="LogOn" method="post">
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                <input asp-for="UserName" placeholder="Kullanıcı Adı" required=" ">
                <span asp-validation-for="UserName"></span>
                <input asp-for="Password" placeholder="Şifre" required=" ">
                <span asp-validation-for="Password"></span>
               
                <div class="forgot">
                    <a href="@Url.Action("ForgotPassword", "Account")">Şifreni mi Unuttun?</a>
                </div>
                <input type="submit" value="Giriş">
            </form>
        </div>
        <h4>Yeni Kullanıcılar İçin</h4>
        <p><a href="@Url.Action("Register", "Account")">Kaydol</a> Veya <a href="@Url.Action("Index", "Home")">Anasayfaya Dön<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    </div>
</div>