@model RoleModel
@{
    ViewData["Title"] = "RoleCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Anasayfa</a></li>
            <li class="active">Rol Ekle</li>
        </ol>
    </div>
</div>

<div class="register">
    <div class="container">
        <h2>Rol Oluşturun</h2>
        <div class="login-form-grids">
            <h5>Rol Bilgileri</h5>
            <form asp-controller="Admin" asp-action="RoleCreate" method="post">
                <input asp-for="Name" placeholder="Role Adı..." required=" ">
                <span asp-validation-for="Name"></span>
                
                <input type="submit" value="Rolü Kaydet">
            </form>
            </div>
        </div>
    </div>
